@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./abstract/_variables";

body{
  background-color: $veryDarkBrown;
  font-family: $serif;
  color: white;
}

.maplibregl-popup-content {
  background-color: $veryDarkBrown !important;
  color: white;
}
.maplibregl-popup-tip {
  display: none;
}