@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./abstract/_variables";

body{
  background-color: $veryDarkBrown;
  font-family: $serif;
  color: white;
}

img{
  width: 100%;
  height: 100%;
}